<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accounts</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="../style/style.css">
</head>

<body>
  <div id="app" class="grid">
    <div class="top ">
      <div class="container top2">
        <i class="bi bi-headset fs-4"> </i> 0800-333-1234 - 24hs
      </div>
    </div>
    <header class="header">
      <h1><a href="../../index.html"><i class="bi bi-bank2"></i> Río Bank</a></h1>
      <nav>
        <div class="d-flex align-items-start">
          <a @click="logout()" href="" data-bs-target="#modalLogin" data-bs-toggle="modal"
            class="d-flex align-items-center">
            <i class="bi bi-box-arrow-in-left fs-2 "></i>
            Logout
          </a>
        </div>
      </nav>
    </header>
    <main id="mainCuentas" class="container">
      <section class="navLateral">
        <ul class="ulLateral">
          <li><a href="" @click.prevent="mostrarCuentas" class=""><i class="bi bi-wallet2"></i> Accounts</a></li>
          <!-- <li><a @click="createAccount">Create Account</a></li> -->
          <!-- <li><a @click="mostrarCards"><i class="bi bi-person-bounding-box "></i>Create Cards</a></li> -->
          <li><a @click.prevent="mostrarGetCards"><i class="bi bi-credit-card-2-back"></i></i>Cards</a></li>
          <li><a href="" @click.prevent="mostrarPrestamos"><i class="bi bi-cash-coin"></i></i>Loans</a></li>
          <li><a href="" @click.prevent="mostrarDatosPersonales" class=""><i class="bi bi-person-bounding-box "></i>Personal information</a></li>

        </ul>
      </section>
      <section class="seccion2 container">
        <div v-show="visibleDatosPersonales" class="datosPersonales">
          <div class="input-group my-3 ">
            <span class="input-group-text" id="basic-addon1">Name</span>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1"
              v-model="name" /> <button type="button" class="btn btn-dark">Modify</button>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Lastname</span>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1"
              v-model="lastName" /><button type="button" class="btn btn-dark">Modify</button>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Email</span>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1"
              v-model="email" /><button type="button" class="btn btn-dark">Modify</button>
          </div>
        </div>

        <div v-show="visibleCuentas" class="cont_account">
          <div class="d-flex justify-content-between flex-column">
            <h3>Your accounts</h3>
           
          <div>
            <table class="table table-hover text-center w-100">
              <thead>
                <tr>
                  <th scope="col">Account Number</th>
                  <th scope="col">Balance</th>
                  <th scope="col">Creation Date</th>
                </tr>
              </thead>
              <tbody class="">
                <tr v-for="cuenta of cuentasCurrent" @click.prevent="accountId(cuenta.id)" role="button">
                  <td>{{ cuenta.numero }}</td>
                  <td>$ {{ cuenta.balance }}</td>
                  <td>{{ formatTransactionDate(cuenta.fechaCreacion) }}</td>
                  <td><a @click.prevent="accountId(cuenta.id)" class="boton" role="button">Details</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <a @click.prevent="createAccount" class="boton" role="button">Create Account</a>
        </div>
      </div>
        <div v-if="visibleDetalleCuenta" >
            detalles de cuentas
          <table class="table table-hover text-center">
            <thead>
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>

              </tr>
            </thead>
            <tbody class="rounded-4">
              <tr v-for="transaction of transactions" :key="transaction.id">
                <td
                  :class="{ 'text-success': transaction.type === 'CREDIT', 'text-danger': transaction.type === 'DEBIT' }">
                  {{ transaction.type }}
                </td>
                <td>$ {{ transaction.amount }}</td>
                <td>{{ formatTransactionDate(transaction.date) }}</td>
                <td>{{transaction.description}}</td>
              </tr>
            </tbody>

          </table>
        </div>

        <div v-if="visibleCards">

          <form>
            <select class="form-select" aria-label="Default select example" v-model="cardType">
              <option selected>Choose card type</option>
              <option value="DEBIT">Debit</option>
              <option value="CREDIT">Credit</option>
            </select>
            <select class="form-select" v-model="cardColor">
              <option value="SILVER">Silver</option>
              <option value="GOLD">Gold</option>
              <option value="TITANIUM">Titanium</option>
            </select>
          </form>
          <a @click="createCard" class="boton" role="button">Create Cards</a>
          cards
        </div>
        <div v-if="visiblePrestamos" class="cuentas">

          <table class="table table-hover text-center">
            <thead>
              <tr>
                <th scope="col">Loan</th>
                <th scope="col">Amount</th>
                <th scope="col">Payments</th>

              </tr>
            </thead>
            <tbody class="rounded-4">
              <tr v-for="loan of loans">
                <td>
                  {{ loan.loanName }}
                </td>
                <td>$ {{ loan.amount }}</td>
                <td>{{loan.payments}}</td>
              </tr>
            </tbody>

          </table>
        </div>
        <div v-if="true">
          <div class="cont_cards">
            <div class="card_paint" v-for="card of cards">
              <h3><i class="bi bi-bank2"></i>Rio Bank</h3>
              <img src="../images/chip.png" alt="" class="chip">
            </div>

          </div>
          <div v-for="card of cards">
            <p>numero: {{card.number}}</p>

          </div>
        </div>

  </div>
  </section>
  </main>



  <footer>
    <div class="foot container">
      <a href="www.facebook.com" class="me-4 text-reset">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="www.twiter.com" class="me-4 text-reset">
        <i class="bi bi-twitter"></i> </a>
      <a href="www.google.com" class="me-4 text-reset">
        <i class="bi bi-google"></i>
        <a href="www.instagram.com" class="me-4 text-reset">
          <i class="bi bi-instagram"></i>
        </a>
        
    </div>
    <div class="foot2 container">
      <p>© 2021 Río Bank, Inc. All rights reserved.</p>
    </div>
  </footer>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script type="module" src="../scripts/cuentas.js"></script>

</body>

</html>