@import url(./grid.css);
@import url(./colors.css);

/*Utilidades*/
.boton{
    background-color: var(--colorPrincipal);
    font-size      : 1.2rem;
    color          : var(--fuenteEnPrincipal);
    text-decoration: none;
    border         : 1px solid var(--bordesBotonesEnPrincipal);
    padding        : 2px 8px 2px 12px;
    border-radius  : 20px;
    transition: all 0.5s ease;

    &:hover{
        background-color: var(--fuenteEnPrincipal);
        color: var(--colorPrincipal);
    }
}

a{
    color: white;
    text-decoration: none;
}

.json{
    color:var(--json);
    background-color: #01253b;
}



.header{
    background-color: var(--colorPrincipal);
    display         : flex;
    justify-content : space-around;
    align-items: center;
    
   
}

